### github actions to build & deploy book, following https://github.com/executablebooks/cookiecutter-jupyter-book/blob/main/.github/workflows/deploy.yml

name: deploy

on:
  # Trigger the deploy on push to main branch
  push:
    branches:
      - main
  schedule:
    # jupyter-book is updated regularly, let's run this deployment every month in case something fails
    # <minute [0,59]> <hour [0,23]> <day of the month [1,31]> <month of the year [1,12]> <day of the week [0,6]>
    # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07
    # https://crontab.guru/every-month
    # Run cron job every month
    - cron: '0 0 1 * *'

jobs: 
  rebuild-and-deploy-book:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2

    # Install python
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

 
    # install virtual environment with caching, so only updates when requirements.txt changes,
    # based on https://github.com/marketplace/actions/restore-or-create-a-python-virtualenv#custom_virtualenv_dir
    # Note: virtual environment by default will be created under ~/.venv
    - uses: syphar/restore-virtualenv@v1
      id: cache-virtualenv
      with:
        requirement_files: docs/requirements_py.txt
    - uses: syphar/restore-pip-download-cache@v1
      if: steps.cache-virtualenv.outputs.cache-hit != 'true'

    # install jupyter-books in case cache failed, which seems to happen on monthly auto redeploys sometimes
    - name: Install jupyter-books
      run: pip install jupyter-book

    # install python dependencies - only if [ipynb] triggered and environment out of date
    - name: Install python dependencies
      run: pip install -r docs/requirements_py.txt
      if: "contains(github.event.head_commit.message, '[ipynb]')" #&& (steps.cache-virtualenv.outputs.cache-hit != 'true')

    # update kernel of all jupyter notebooks to .venv to match GH action environment - only if [ipynb] triggered
    - name: Update Jupyter Notebook kernels 
      run: python .github/workflows/update_jupyter_kernels.py .venv |
          python -m ipykernel install --user --name=.venv
      if: "contains(github.event.head_commit.message, '[ipynb]')"

    # install R - only if [ipynb] triggered
    - name: Install R
      uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: true
      if: "contains(github.event.head_commit.message, '[ipynb]')"

    # install R dependencies
    - name: Install R dependencies
      run: bash .github/workflows/install_R_dependencies.sh
      if: "contains(github.event.head_commit.message, '[ipynb]')"

    # Build the example book
    - name: Build book
      run: jupyter-book build --all docs/

    # Manually copy files
    - name: copy files
      uses: canastro/copy-file-action@master
      with:
        source: "docs/WaterProgramming/post_catalog.html"
        target: "docs/_build/html/WaterProgramming/post_catalog.html"

    # manually edit html to increase size of Water Programming Blog post table
    - name: edit table html
      run: bash .github/workflows/update_WaterProgramming_table_html.sh

    # Copy images to build
    - name: copy images
      uses: canastro/copy-file-action@master
      with:
        source: docs/images/.
        target: docs/_build/html/_images/
        flags: '-r'
        
    # Deploy html to gh-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
        publish_branch: gh-pages
